<html>
  <head>
    <script src="/assets/js/p5.min.js"></script>
    <script src="/assets/js/p5.dom.min.js"></script>
    <script src="/assets/js/p5.sound.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/gameStyles.css"/>
    <link rel="icon" 
      type="image/png" 
      href="assets/calponia.png">
    <style>
      .score{
        text-align: center;
        color: white;
        margin-bottom: 10px;
      }
      .counter{
        color: white;
      }
      body{
        background-image: url('assets/background.jpg');
      }
    </style>

  </head>
  <body>
    <br>
    <div class="score">
      Current Highscore: 
      <div class="currentHighscore"></div>
    </div>
    <div class="score">
      Your current score: 
      <div class="counter"></div>
    </div>
    <div id="game"></div>
    <script src="/assets/js/sketch.js"></script> 
  </body>
</html>
